body, html {
    font: normal normal 17px/1.5 "georgia", serif;
    color: #222;
}

.intro {
    width: 90%;
    max-width: 400px;
    margin: 200px auto;
    color: #666;
}

.disclaimer {
    font-style: italic;
}

h1 {
    text-align: center;
    margin: 100px;
}

.diary-contents {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.single-entry {
    margin: 100px 0;
}

.redacted {
    font-family: courier, monospace;
}

.single-entry p {
    margin-bottom: 30px;
}

.single-entry .date {
    font: normal normal 14px/1 "helvetica neue", sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}
